2to3==1.0
anyio==3.0.1
anytree==2.8.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.4
astroid==2.5.6
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
Beaker==1.11.0
bleach==3.3.0
bokeh==2.3.2
Boruta==0.3
breezy==3.2.0
Brlapi==0.8.2
btrfsutil==5.12.1
CacheControl==0.12.6
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.1
distro==1.5.0
Django==3.2.3
dlib==19.22.0
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
Flask==1.1.2
google-trans-new==1.1.9
googletrans==3.1.0a0
greenlet==1.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imutils==0.5.4
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==1.1.0
jak==0.14.6
jedi==0.18.0
Jinja2==3.0.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-kite==2.0.2
jupyter-server==1.7.0
jupyterlab==3.0.15
jupyterlab-kite==2.0.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
kaggle==1.5.12
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lensfun==0.3.95
libfdt==1.6.0
louis==3.17.0
lxml==4.6.3
Mako==1.1.4
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mercurial==5.8
meson==0.58.0
mistune==0.8.4
ml-metrics==0.1.4
msgpack==1.0.2
nbclassic==0.2.8
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netsnmp-python==1.0a1
nltk==3.6.2
notebook==6.4.0
numpy==1.20.3
olefile==0.46
opencv-python==4.5.2.52
ordered-set==4.0.2
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
patiencediff==0.2.2
pdf2image==1.14.0
pep517==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
ply==3.11
progress==1.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pwquality==1.4.4
pycairo==1.20.0
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pyenchant==3.2.0
pyflakes==2.3.1
Pygments==2.9.0
PyGObject==3.40.1
pylint==2.7.4
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
pyrsistent==0.17.3
PySide2==5.15.2
pysodium==0.7.9
pytesseract==0.3.7
python-dateutil==2.8.1
python-dotenv==0.17.1
python-libtorrent==1.2.11
python-slugify==4.0.1
python-xlib==0.30
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
ranger-fm==1.9.3
Reflector==2021.4.3.10.43.28
regex==2021.4.4
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rfc3986==1.4.0
scikit-learn==0.24.2
scipy==1.6.3
Send2Trash==1.5.0
shiboken2==5.15.2
simplejson==3.17.2
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sqlparse==0.4.1
team==1.0
terminado==0.9.5
testpath==0.5.0
text-unidecode==1.3
textblob==0.15.3
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typing-extensions==3.10.0.0
ueberzug==18.1.9
urllib3==1.26.4
validate==5.1.0.dev0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.0
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
